.weather-container{
    max-width: 500px;
    background-color: #3058A7;
    color: #ffffff;
    padding: 0px;
}
.br-50{
    border-radius: 50%;
}
.wave-img{
    margin-bottom: -1px;
}
.mw-50{
    max-width: 50px;
}
.location-input{
    font-size: 2.5rem;
    /* margin: 0px 0px 20px 0px; */
    border-radius: 50px;
}
.b-radius{
    border-radius: 50px;
}